body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto 25vw;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 10vh;
}
h1 {
  color: #333;
}
table {
  width: 30vw;
  margin: 20px;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #4caf50;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
input[type="text"],
input[type="number"] {
  padding: 8px;
  width: 200px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="button"] {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #45a049;
}
